{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}
{% block body %}
    {{ parent() }}
    <h1 class="text-center">Page non trouvée</h1>
    <h5 class="form-error"></h5>
{% endblock %}
