{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Le site ne peut pas répondre</h1>
    <a href="index.html.twig">Accès à l'acceuil</a>
    <h5 class="form-error"></h5>
{% endblock %}
