{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}
    {{ parent() }}

    <h1 class="slogan">Mise à jour de figure</h1>
    <img src="\images\unsplash.jpg" style="width: inherit">

        {{ include('trick/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


        {{ include('trick/_delete_form.html.twig') }}
{% endblock %}
