{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Create new Trick</h1>

    {{ include('trick/_form.html.twig') }}

    <a href="{{ path('trick_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        console.log("salut");
    </script>
{% endblock %}
