{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="slogan">Nouvelle figure</h1>
    <img src="\images\unsplash.jpg" style="width: inherit">


    {{ include('trick/_form.html.twig') }}

    <a href="{{ path('trick_index') }}">back to list</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
